.container {
  max-width: 1500px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
}
header {
  background-image: url("../src/images/gabrielle-henderson-blackandgold-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 800px;
  

}
h1,
h2,
h3 {
  padding: 20px;
  font-family: "Merriweather", serif;
}
h1 {
  display: block;
  font-size: 50px;
  color: rgb(55, 40, 22);
  background-color: rgb(245, 238, 220);
}
h2 {
  display: block;
  max-width: 400px;
  color: rgb(255, 246, 235);
  font-size: 24px;
  position: absolute;
  bottom: 0;

  
}
h3{
  color: rgb(255, 246, 235);
  background-color: rgba(245, 238, 220, 0.68);

}





.grid{
  max-width: 1300px;
  margin:0 auto;
}
.equal-3-columns {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}

.secondrow {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  
}

.img-hgt {
  max-width: 100%;
  display: block;
  aspect-ratio: 10/8.5;
}

.Extravagent-hgt {
  max-width: 100%;
  display: block;
  aspect-ratio: 10/10;
}

 .card {
  border:  7px solid #f6e7c9;
  border-bottom-left-radius: 35%;
  background-color: rgb(253, 246, 239);
 }
 .card-text{
  padding:15px;
  font-weight: 450;

  
 }
 .card-title{
  font-family: "Poppins", system-ui;
  font-size: 27px;
  text-transform: uppercase;
  margin-top: 10px;
  padding-left:15px ;
  line-height: .3;
 }

 .btn {
  background-color: rgb(154, 96, 69);
 }